<!DOCTYPE html>
<html>
<head>
<style>
div {
  transition: all linear 0.5s;
}


.ng-hide {
  height: 0;
}

</style>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src= "controller/deleteController.js"></script>
</head>
<body>
<h2 align="center">DELETE DATA</h1>
<p>So, you  finally found this page, huh? Okay, we'll let you use it for now. This is an area that is very important to us, as it removes data from the database. We ask that while you are here, you submit a list of your deletions to the website admins (contact information at the bottom of the page) or ask them for permission first. </p>
<p>To delete something, you have to fillout all fields and press "submit".</p>
<p>Please be respectful when deleting data, as we can lose irreplacable information.</p>
<br>
<br>

<div ng-app="deleteApp" ng-controller='deleteController'>

	<!-- when the add game button is cliicked it will call the function form slide to unhide/rehide the form that adds games to the database-->
	<input type="submit" value="Delete Game" onclick="formSlide('gameForm')"/>
	<!-- this is the form for putting a new game in the system -->
	<form ng-hide="myCheck" id="gameForm" hidden>
		<div >
			<label  >Title</label>
			<div >
				<input type="text" id ="gameTitle" style="padding:0px 12px">
			</div>
			<label >Release year</label>
			<div >
				<input type="number" id ="gameReleaseYear" style="padding:0px 12px">
			</div>

			<a ng-href='#here' ng-click='game()'  >submit</a>
		</div>
	</form>

	<!-- this is the form for associating a game with a system-->
	<br>
	</br>
	<input type="submit" value="Delete Game to System" onclick="formSlide('gameSystemsForm')"/>
	<form ng-hide="myCheck" id="gameSystemsForm" hidden>
		<div >
			<label  >Title</label>
			<div >
				<input type="text" id ="gameSystemGameTitle" style="padding:0px 12px">
			</div>
			<label  >Release year</label>
			<div >
				<input type="number" id ="gameSystemGameReleaseYear" style="padding:0px 12px" >
			</div>
			<label  >Game System</label>
			<div >
				<input type="text" id ="gameSystem" style="padding:0px 12px" >
			</div>
			<a ng-href='#here' ng-click='gameSys()'  >submit</a>
	
		</div>
	</form>
	<br>
	</br>
	<!-- this is the form for associating a game with a region-->

	<input type="submit" value="Delete Game to Region" onclick="formSlide('gameRegionForm')"/>
	<form ng-hide="myCheck" id="gameRegionForm" hidden>
		<div >
			<label  >Title</label>
			<div >
				<input type="text" id ="gameRegionGameTitle" style="padding:0px 12px" >
			</div>
			<label  >Release year</label>
			<div >
				<input type="number" id ="gameRegionGameReleaseYear" style="padding:0px 12px" >
			</div>
			<label  >Game Region</label>
			<div >
				<input type="text" id ="gameRegion" style="padding:0px 12px" >
			</div>
			<a ng-href='#here' ng-click='gameReg()'  >submit</a>
	
		</div>
	</form>
	<br>
	</br>
	<!-- this is the form for associating a game with a tag-->

	<input type="submit" value="Delete Tag To Game" onclick="formSlide('gameTagForm')"/>
	<form ng-hide="myCheck" id="gameTagForm" hidden>
		<div >
			<label >Title</label>
			<div >
				<input type="text" id ="gameTagGameTitle" style="padding:0px 12px">
			</div>
			<label >Release year</label>
			<div >
				<input type="number" id ="gameTagGameReleaseYear" style="padding:0px 12px">
			</div>
			<label  >Game Tag</label>
			<div >
				<input type="text" id ="gameTag" style="padding:0px 12px">
			</div>
			<a ng-href='#here' ng-click='gameTag()'  >submit</a>
	
		</div>
	</form>
	<br>
	</br>
	<input type="submit" value="Delete Publisher" onclick="formSlide('publisherForm')"/>
	<form ng-hide="myCheck" id="publisherForm" hidden>
		<div >
			<label  >Publisher</label>
			<div >
				<input type="text" id ="publisherName" style="padding:0px 12px">
			</div>

			<a ng-href='#here' ng-click='gamePub()' >submit</a>
	
		</div>
	</form>

	<br>
	</br>
	<input type="submit" value="Delete Developer" onclick="formSlide('developerForm')"/>
	<form ng-hide="myCheck" id="developerForm" hidden>
		<div >
			<label  >Developer</label>
			<div >
				<input type="text" id ="developerName" style="padding:0px 12px">
			</div>

			<a ng-href='#here' ng-click='gameDev()'  >submit</a>
	
		</div>
	</form>

	<br>
	</br>
	<input type="submit" value="Delete Sales" onclick="formSlide('salesForm')"/>
	<form ng-hide="myCheck" id="salesForm" hidden>
		<div >
			<label  >Title</label>
			<div >
				<input type="text" id ="salesGameTitle" style="padding:0px 12px">
			</div>
			<label  >Release year</label>
			<div >
				<input type="number" id ="salesGameReleaseYear" style="padding:0px 12px">
			</div>
			<label  >Price</label>
			<div >
				<input type="number" id ="salesPrice" style="padding:0px 12px">
			</div>
			<label  >Game System</label>
			<div >
				<input type="text" id ="salesSystem" style="padding:0px 12px">
			</div>
			<label  >Organization</label>
			<div >
				<input type="text" id ="salesOrginization" style="padding:0px 12px">
			</div>
			<a ng-href='#here' ng-click='gameSale()'  >submit</a>
			
		</div>
	</form>

</div>

</body>
</html>