<!DOCTYPE html>
<html>
<head>
<style>
div {
  transition: all linear 0.5s;
}

.ng-hide {
  height: 0;
}


</style>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src= "controller/getController.js"></script>
</head>
<body>
<h2 align="center">READ DATA</h1>
<p>Welcome to the read page! This is not as complicated as adding something to the database, so all you need to know is that not all forms need  to be filled to see something. Just make sure that if you do fill a form, you fill them from top-to-bottom, or else the call won't work properly.</p>
<p>The more forms you fill, the more general the information. Just press "submit" when you're ready and you'll see the result of your query in the text area beneath it.</p>
<br>
<br>

<div ng-app="getApp" ng-controller='getController'>

	<!-- when the add game button is cliicked it will call the function form slide to unhide/rehide the form that adds games to the database-->
	<input type="submit" value="Get Game" onclick="formSlide('gameForm')"/>
	<!-- this is the form for putting a new game in the system -->
	<form ng-hide="myCheck" id="gameForm" hidden>
		<div >
			<label  >Title</label>
			<div >
				<input type="text" id ="gameTitle" style="padding:0px 12px;">
			</div>
			<label >Release year</label>
			<div >
				<input type="number" id ="gameReleaseYear" style="padding:0px 12px;">
			</div>

			<a ng-href='#here' ng-click='game()'  >submit</a>
			<div>
			<textarea  id="gameTextarea" style="width: 100%; height: 10em;" ></textarea>
			</div>
		</div>
	</form>

	<!-- this is the form for associating a game with a system-->
	<br>
	</br>
	<input type="submit" value="Get Game to System" onclick="formSlide('gameSystemsForm')"/>
	<form ng-hide="myCheck" id="gameSystemsForm" hidden>
		<div >
			<label  >Title</label>
			<div >
				<input type="text" id ="gameSystemGameTitle" style="padding:0px 12px;">
			</div>
			<label  >Release year</label>
			<div >
				<input type="number" id ="gameSystemGameReleaseYear" style="padding:0px 12px;">
			</div>
			<label  >Game System</label>
			<div >
				<input type="text" id ="gameSystem" style="padding:0px 12px;">
			</div>
			<a ng-href='#here' ng-click='gameSys()'  >submit</a>
			<div>
			<textarea  id="gameSysTextarea" style="width: 100%; height: 10em;"  ></textarea>
			</div>
		</div>
	</form>
	<br>
	</br>
	<!-- this is the form for associating a game with a region-->

	<input type="submit" value="Get Game to Region" onclick="formSlide('gameRegionForm')"/>
	<form ng-hide="myCheck" id="gameRegionForm" hidden>
		<div >
			<label  >Title</label>
			<div >
				<input type="text" id ="gameRegionGameTitle" style="padding:0px 12px;">
			</div>
			<label  >Release year</label>
			<div >
				<input type="number" id ="gameRegionGameReleaseYear" style="padding:0px 12px;">
			</div>
			<label  >Game Region</label>
			<div >
				<input type="text" id ="gameRegion" style="padding:0px 12px;">
			</div>
			<a ng-href='#here' ng-click='gameReg()'  >submit</a>
			<div>
			<textarea  id="gameRegTextarea" style="width: 100%; height: 10em;"  ></textarea>
			</div>
		</div>
	</form>
	<br>
	</br>
	<!-- this is the form for associating a game with a tag-->

	<input type="submit" value="Get Tag To Game" onclick="formSlide('gameTagForm')"/>
	<form ng-hide="myCheck" id="gameTagForm" hidden>
		<div >
			<label >Title</label>
			<div >
				<input type="text" id ="gameTagGameTitle" style="padding:0px 12px;">
			</div>
			<label >Release year</label>
			<div >
				<input type="number" id ="gameTagGameReleaseYear" style="padding:0px 12px;">
			</div>
			<label  >Game Tag</label>
			<div >
				<input type="text" id ="gameTag" style="padding:0px 12px;">
			</div>
			<a ng-href='#here' ng-click='gameTag()'  >submit</a>
			<div>
			<textarea  id="gameTagTextarea" style="width: 100%; height: 10em;"  ></textarea>
			</div>
		</div>
	</form>
	<br>
	</br>
	<input type="submit" value="Get Publisher" onclick="formSlide('publisherForm')"/>
	<form ng-hide="myCheck" id="publisherForm" hidden>
		<div >
			<label  >Title</label>
			<div >
				<input type="text" id ="publisherName" style="padding:0px 12px;">
			</div>

			<a ng-href='#here' ng-click='gamePub()' >submit</a>
			<div>
			<textarea  id="gamePubTextarea" style="width: 100%; height: 10em;"  ></textarea>
			</div>
		</div>
	</form>

	<br>
	</br>
	<input type="submit" value="Get Developer" onclick="formSlide('developerForm')"/>
	<form ng-hide="myCheck" id="developerForm" hidden>
		<div >
			<label  >Title</label>
			<div >
				<input type="text" id ="developerName" style="padding:0px 12px;">
			</div>

			<a ng-href='#here' ng-click='gameDev()'  >submit</a>
			<div>
			<textarea  id="gameDevTextarea" style="width: 100%; height: 10em;"  ></textarea>
			</div>
		</div>
	</form>

	<br>
	</br>
	<input type="submit" value="Get Sales" onclick="formSlide('salesForm')"/>
	<form ng-hide="myCheck" id="salesForm" hidden>
		<div >
			<label  >Title</label>
			<div >
				<input type="text" id ="salesGameTitle" style="padding:0px 12px;">
			</div>
			<label  >Release year</label>
			<div >
				<input type="number" id ="salesGameReleaseYear" style="padding:0px 12px;">
			</div>
			<label  >Price</label>
			<div >
				<input type="number" id ="salesPrice" style="padding:0px 12px;">
			</div>
			<label  >Game System</label>
			<div >
				<input type="text" id ="salesSystem" style="padding:0px 12px;">
			</div>
			<label  >Organization</label>
			<div >
				<input type="text" id ="salesOrginization" style="padding:0px 12px;">
			</div>
			<a ng-href='#here' ng-click='gameSale()'  >submit</a>
			<div>
			<textarea  id="gameSalesTextarea" style="width: 100%; height: 10em;"  ></textarea>
			</div>
		</div>
	</form>

	<br>
	</br>

	<input type="submit" value="Get Regions" onclick="formSlide('regionsForm')"/>
	<form ng-hide="myCheck" id="regionsForm" hidden>
		<div >


			<a ng-href='#here' ng-click='reg()'  >submit</a>
			<div>
			<textarea  id="gameRegionsTextarea" style="width: 100%; height: 10em;"  ></textarea>
			</div>
		</div>
	</form>

	<br>
	</br>
	
	<input type="submit" value="Get Systems" onclick="formSlide('systemsForm')"/>
	<form ng-hide="myCheck" id="systemsForm" hidden>
		<div >

			<a ng-href='#here' ng-click='sys()'  >submit</a>
			<div>
			<textarea  id="gameSystemsTextarea" style="width: 100%; height: 10em;"  ></textarea>
			</div>
		</div>
	</form>

	<br>
	</br>

</div>

</body>
</html>